header {
    margin: 0px;
    padding:0px;
    height: 200px;
    background-color: aquamarine;
    overflow: hidden;
    text-align: center;
  }
header h1 {
    color: rgba(13, 60, 233, 0.955);
    opacity: 0.5;
}
  .picture {
    width: 300px;
    height: 200px;
  }
body {
  margin: 0px;
  padding: 0px;
}
.main {
  height: auto;
  overflow: hidden;
  background-color: lightblue;
  margin: 0px;
  padding: 0px;
}
.contents2-item {
  float: left;
}
.contents2::after {
  display: block;
  clear: left;
  content: "";
}
.contents3-item {
  float: left;
}
